footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.contact-section, .links-section {
  margin-top: 15px;
}

h4 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.brand-social {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between text and icons */
  margin-top: 1rem;
}

.brand-name {
  font-weight: bold;
  color: #03C03C;
  margin-left: 10px; /* Optional: add margin to prevent tight spacing */
}

.social-icons {
  display: flex;
  gap: 0.4rem; /* Reduce spacing between icons */
}
